{% extends 'base_without_header.html' %}
{% load form_tags %}
{% load static %}

{% block content %}
<form class="border flex flex-col gap-4 items-center justify-center h-full" method="post">
    <h2>Register New User</h2>
    <div class="flex flex-col gap-4 border p-4 rounded-md">
        {% csrf_token %}
        <label for="username">Username</label>
        {{ form.username|add_class:"form-input" }}
        <label for="email">Email</label>
        {{ form.email|add_class:"form-input" }}
        <label for="password">Password</label>
        {{ form.password|add_class:"form-input" }}
        <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md">Register</button>
        <span>Already have an account? <a href="{% url 'login' %}" class="text-blue-500">Login</a></span>
    </div>
</form>
{% endblock %}